//Start The Varible Of Sass
@import 'library/function.scss';
$maincolor: #6195FF;
//The Freamwork
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: white;
}
*, *:after, *:before {
  box-sizing: border-box;
}


.container{
  width: 80%;
  margin: 0 auto;
}


.clearfix {clear: both;}

//start the keyframes
